<p id="notice"><%= notice %></p>

<h1>Listing Ciudads</h1>

<table>
  <thead>
    <tr>
      <th>Cod pais</th>
      <th>Nom ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciudads.each do |ciudad| %>
      <tr>
        <td><%= ciudad.cod_pais %></td>
        <td><%= ciudad.nom_ciudad %></td>
        <td><%= link_to 'Show', ciudad %></td>
        <td><%= link_to 'Edit', edit_ciudad_path(ciudad) %></td>
        <td><%= link_to 'Destroy', ciudad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciudad', new_ciudad_path %>
