<p id="notice"><%= notice %></p>

<p>
  <strong>Cod tipdoc:</strong>
  <%= @documento.cod_tipdoc %>
</p>

<p>
  <strong>Cod pedido:</strong>
  <%= @documento.cod_pedido %>
</p>

<p>
  <strong>Nom documento:</strong>
  <%= @documento.nom_documento %>
</p>

<p>
  <strong>Ruta archivo:</strong>
  <%= @documento.ruta_archivo %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
