<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod_producto %><br>
    <%= f.number_field :cod_producto %>
  </div>
  <div class="field">
    <%= f.label :nom_producto %><br>
    <%= f.text_field :nom_producto %>
  </div>
  <div class="field">
    <%= f.label :precio_unit %><br>
    <%= f.text_field :precio_unit %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
